global
    maxconn 100

defaults
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend postgres
    bind *:5432
    default_backend pg_nodes

backend pg_nodes
    option tcp-check
    server node1 node1:5432 check
    server node2 node2:5432 check
    server node3 node3:5432 check


# global
#     maxconn 100

# defaults
#     mode tcp
#     timeout connect 10s
#     timeout client 1m
#     timeout server 1m

# # Write-only (chỉ tới PRIMARY)
# frontend postgres_write
#     bind *:5435
#     default_backend pg_primary

# backend pg_primary
#     option tcp-check
#     default-server inter 3s fall 3 rise 2
#     server node1 node1:5432 check port 5432
#     server node2 node2:5432 check port 5432
#     server node3 node3:5432 check port 5432

#     # Chỉ chọn node là primary (dựa theo phản hồi SQL)
#     tcp-check connect
#     tcp-check send "POST /pg_auto_failover/ read-write\r\n"
#     tcp-check expect string "role: primary"

# # Read-only (cho SELECT)
# frontend postgres_read
#     bind *:5432
#     default_backend pg_nodes

# backend pg_nodes
#     option tcp-check
#     server node1 node1:5432 check
#     server node2 node2:5432 check
#     server node3 node3:5432 check
